.object-fit-contaion{
    object-fit: cover;
    object-position: top;
}
.cus-slidecontainer{
    height: 100vh;
    max-height: 100vh;
}
.swiper {
    width: 100%;
    height: 100%;
   
}
  
.swiper-slide {
    background-position: center;
    background-size: cover;
}
  
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.slide-container{
    width: 100%;
    min-height: 50vh;
}

.swiper-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
}
.cu-card{
    width: 322px;
    height: auto;
    margin: 1rem;   
    background-color: #f1eded;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.img-con{
    width: 100%;
    height: 322px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-con img{
    width: 100%;
    height: 100%;
    max-height: 322px;
    object-fit: contain;
    border-radius: 10px;
}
.card-body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem ;
}
.card-title
{
    margin-top: 3%;
    font-size: 1.3rem;
}
.card-title .title-link{
    text-decoration: none;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
.card-Price{
    font-size: 1.1rem;
    font-family: 'Times New Roman', Times, serif;
}
.card-Price span{
    font-size: .9rem;
    color: red;
    text-decoration: line-through;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 1rem;
}
.vartion-button{
    
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 7%;
    margin-top: 3%;
}
.vartion-button .var-btn{
    background-color: white;
    border: 1px solid black;
    color: black;
    text-decoration: none;
    width: 30px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
}